body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    background: #fff;
    padding: 20px;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
}

button {
    padding: 10px 15px;
    background-color: #218838;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #115e22;
}

li {
    padding: 10px;
    cursor: pointer;
}

li.completed {
    text-decoration: line-through;
    color: #b4b4b4;
}
